@import './base.css';
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.cdnfonts.com/css/broadley');

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-250px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
}
@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-250px);
     }
     100% {
        opacity: 1;
        transform: translateY(0);
     }
}
.custom-bg {
    background-image: linear-gradient(#A594F9, #F5EFFF);
    background-size: 1000px;
    width: fit-contentx;
    height: fit-content;
}
.custom-nav {
    margin-top:20px;
    background-color:transparent;
    font-size:25px; 
}
header {
    font-family: Rubik;
}